.container {
  max-width: 1270px;
  padding: 20px;
  margin: 0 auto;
}

header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header .nav__btn {
  background: linear-gradient(270deg, #4D5EF6 0%, #F64D4D 100%);
}
header .nav__icons--icon-btn {
  background: linear-gradient(270deg, rgba(77, 94, 246, 0.2) 0%, rgba(246, 77, 77, 0.2) 100%);
}
header .nav__icons--icon-btn:hover {
  background: linear-gradient(270deg, rgba(77, 94, 246, 0.272) 0%, rgba(246, 77, 77, 0.248) 100%);
}
header .nav__icons--icon-btn__label--inp::placeholder {
  color: #6C757D;
}
header .nav .nav__toggle {
  height: 100vh;
  transition: all 2s ease;
  position: absolute;
  top: 0;
  left: 0;
}
header .nav .nav__toggle--main-top {
  padding-top: 20px;
}
header .nav .nav__toggle--main-top::after {
  content: " ";
  width: 100%;
  height: 1px;
  background: #E4E7EE;
}
header .nav .nav__toggle form input {
  accent-color: rgb(74, 41, 194);
}
header .nav .nav__toggle form::after {
  content: " ";
  width: 100%;
  height: 1px;
  background: #E4E7EE;
}
header .nav .nav__toggle--btn {
  background: linear-gradient(270deg, #4D5EF6 0%, #F64D4D 100%);
}
header .show {
  display: block !important;
  transition: all 2s ease;
  top: 0;
  left: 0;
}

.search {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .nav__icons {
    display: none;
  }
  .nav__label {
    width: 32%;
  }
}
@media only screen and (max-width: 768px) {
  .nav__icons {
    display: none;
  }
  .nav__label {
    width: 34%;
  }
  .nav__menu {
    display: block;
    font-size: 23px;
  }
  .nav__btn {
    display: none;
  }
  .search {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .nav__icons {
    display: none;
  }
  .nav__label {
    display: none;
  }
  .nav__menu {
    display: block;
    font-size: 23px;
  }
  .nav__btn {
    display: none;
  }
  .search {
    display: block;
    padding-left: 42px;
  }
}
@media only screen and (max-width: 576px) {
  .nav__icons {
    display: none;
  }
  .nav__label {
    width: 32%;
  }
  .nav__menu {
    display: block;
    font-size: 28px;
  }
  .nav__btn {
    display: none;
  }
  .nav__label {
    display: none;
  }
}
.cashback__next, .cashback__prev {
  background: linear-gradient(270deg, #4D5EF6 0%, #F64D4D 100%);
  border-radius: 23px;
}
.cashback .cashback__lists {
  width: 5900px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cashback .cashback__lists--list {
  width: 1030px !important;
  height: 80%;
  margin-left: 60px;
  margin-right: 30px;
}

@media screen and (max-width: 992px) {
  .cashback .cashback__lists {
    width: 3300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cashback .cashback__lists--list {
    width: 800px !important;
    height: 80%;
    margin-left: 60px;
  }
  .cashback .cashback__lists--list img {
    display: none;
  }
  .cashback .cashback__lists--list-text {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .cashback .cashback__lists {
    width: 2900px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cashback .cashback__lists--list {
    width: 800px !important;
    height: 80%;
    margin-left: 50px;
  }
  .cashback .cashback__lists--list img {
    display: none;
  }
  .cashback .cashback__lists--list-text {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .cashback .cashback__lists {
    width: 2700px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cashback .cashback__lists--list {
    width: 430px !important;
    height: 80%;
    margin-left: 45px;
    padding-top: 20px;
  }
  .cashback .cashback__lists--list img {
    display: none;
  }
  .cashback .cashback__lists--list-text {
    width: 90%;
    padding: 10px;
  }
  .cashback .cashback__lists--list-text h2 {
    width: 80%;
    font-size: 33px;
  }
}
@media screen and (max-width: 992px) {
  .kategorialar {
    height: auto;
    gap: 15px;
  }
  .kategorialar__cards {
    height: 100%;
    gap: 30px;
  }
  .kategorialar__cards--card {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  .kategorialar {
    height: auto;
    gap: 15px;
  }
  .kategorialar__cards {
    height: 95%;
    gap: 30px;
  }
  .kategorialar__cards--card {
    width: 46%;
  }
}
@media screen and (max-width: 576px) {
  .kategorialar {
    height: auto;
    gap: 15px;
  }
  .kategorialar__cards {
    height: 100%;
    gap: 30px;
  }
  .kategorialar__cards--card {
    width: 43%;
  }
}
.sotilganlar {
  height: auto;
}

@media only screen and (max-width: 1010px) {
  .sotilganlar__cards {
    justify-content: space-between;
  }
  .sotilganlar__cards--card {
    width: 30%;
    height: 440px;
  }
}
@media only screen and (max-width: 768px) {
  .sotilganlar__cards {
    justify-content: space-between;
  }
  .sotilganlar__cards--card {
    width: 45%;
    height: 510px;
  }
  .sotilganlar__next, .sotilganlar__prev {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .sotilganlar {
    overflow: hidden;
    width: 100%;
    padding: 5px;
  }
  .sotilganlar__prev {
    left: 10px;
    background: #506267;
    border-radius: 50%;
  }
  .sotilganlar__next {
    right: 0px;
    background: #506267;
    border-radius: 50%;
  }
  .sotilganlar__cards {
    width: 3000px;
    display: flex;
    padding-left: 36px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 13px;
    justify-content: space-between;
    transition: all 1s ease;
  }
  .sotilganlar__cards--card {
    width: 12%;
    height: 510px;
  }
  .sotilganlar__next, .sotilganlar__prev {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .sotilganlar__cards {
    width: 3000px;
  }
}
.ad__prev {
  background: linear-gradient(270deg, rgba(77, 94, 246, 0.2) 0%, rgba(246, 77, 77, 0.2) 100%);
}
.ad__next {
  background: linear-gradient(270deg, #4D5EF6 0%, #F64D4D 100%);
}

.ad__second--prev {
  background: linear-gradient(270deg, rgba(77, 94, 246, 0.2) 0%, rgba(246, 77, 77, 0.2) 100%);
}
.ad__second--next {
  background: linear-gradient(270deg, #4D5EF6 0%, #F64D4D 100%);
}

.popular {
  height: auto;
}

@media only screen and (max-width: 1010px) {
  .popular__cards {
    justify-content: space-between;
  }
  .popular__cards--card {
    width: 30%;
    height: 440px;
  }
}
@media only screen and (max-width: 768px) {
  .popular__cards {
    justify-content: space-between;
  }
  .popular__cards--card {
    width: 45%;
    height: 510px;
  }
  .popular__next, .popular__prev {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  .popular {
    overflow: hidden;
    width: 100%;
    padding: 5px;
  }
  .popular__prev {
    left: 10px;
    background: #506267;
    border-radius: 50%;
  }
  .popular__next {
    right: 0px;
    background: #506267;
    border-radius: 50%;
  }
  .popular__cards {
    width: 3000px;
    display: flex;
    padding-left: 36px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 13px;
    justify-content: space-between;
    transition: all 1s ease;
  }
  .popular__cards--card {
    width: 12%;
    height: 510px;
  }
  .popular__next, .popular__prev {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .popular__cards {
    width: 3000px;
  }
}
footer {
  background: linear-gradient(270deg, rgba(77, 94, 246, 0.2) 0%, rgba(246, 77, 77, 0.2) 100%);
}
footer__bottom::before {
  content: "";
  width: 100%;
  height: 1px;
  background: black;
}

@media screen and (max-width: 992px) {
  footer .footer__cols {
    flex-wrap: wrap;
    row-gap: 25px;
  }
  footer .footer__cols--col {
    width: 48%;
  }
}
@media screen and (max-width: 520px) {
  footer .footer__cols {
    flex-wrap: wrap;
    row-gap: 25px;
  }
  footer .footer__cols--col {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */